* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Quicksand', sans-serif; */
    background-color: #000;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #000;
}

::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 50px;
}

.main-container {
    /* background: url(./assets/images/messy_desk.jpg);
    background-position: center;
    background-size: cover; */
    width: 1280px;
    height: 720px;
    /* width: 800px;
    height: 500px; */
    position: relative;
    overflow: auto;
}

.background-img {
    /* width: 100%; */
    /* height: 100%; */
}

.marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    /* background-color: red; */
}

.visited-marker {
    background-color: green;
}

@media screen and (max-width: 600px) {
    .main-container {
        display: none;
    }
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}