.marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border: 3px solid transparent;
    font-size: 18px;
    transition: all ease-in .5s;
}

.marker:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.visited-marker {
    background-color: rgb(9, 113, 54);
    border-color: #fff;
    color: #fff;
    pointer-events: none;
}