.modal {
    transition: opacity .5s ease-out;
    opacity: 0;
    height: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-reveal {
    z-index: 1000;
    opacity: 1;
    height: 100%;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    max-width: 600px;
    color: #fff;
    text-align: center;
}

.modal-content h1 {
    font-size: 40px;
}

#question {
    margin: 30px 0;
    font-size: 24px;
}

.answer-button:not(:last-child) {
    margin-bottom: 10px;
}

.answer-button {
    border: 1px solid #fff;
    font-size: 22px;
    font-weight: 400;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 10px;
    transition: all .8s ease;
}

.answer-button:hover {
    background-color: rgb(35, 35, 35);
}

.wrong-answer {
    animation: wrong-answer-animation 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.correct-answer {
    animation: correct-answer-animation 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes wrong-answer-animation {
    0% {
        transform: rotate(0);
    }

    3% {
        transform: rotate(3deg);
    }

    6% {
        transform: rotate(0);
    }

    9% {
        transform: rotate(-3deg);
    }

    12% {
        transform: rotate(0);
        border-color: red;
        color: red;
        opacity: 1;
    }

    100% {
        opacity: 0.2;
        text-decoration: line-through;
    }
}

@keyframes correct-answer-animation {
    5% {
        transform: rotate(0);
        border-color: green;
        color: green;
        transform: scale(1.1);
    }
    25% {
        background-color: green;
    }
}