.sidebar {
    position: relative;
    height: 100%;
    z-index: 1;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    width: 30%;
}

.sidebar .exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.sidebar .exit-button:hover {
    color: red;
}

.sidebar .sidebar-content {
    padding: 20px;
    color: #fff;
}

.sidebar-content p {
    font-weight: 100;
}

.level-score {
    margin-top: 30px;
    transition-delay: 1s;
}

.level-score p,
h2 {
    font-weight: 600;
}

.level-score p {
    font-size: 20px;
}