.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar .sidebar-content {
    padding: 20px;
    color: #fff;
}

.sidebar-content p {
    font-weight: 100;
}

.level-score {
    margin-top: 30px;
}

.level-score p, h2 {
    font-weight: 600;
}

.level-score p {
    font-size: 20px;
    transition-delay: 1s;
}

#mySidebar {
    width: 250px;
}

/* #main {
    transition: margin-left .5s;
    margin-left: 250px;
} */