@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Changa', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #000;
}

::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar-track {
    background: #000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 50px;
}

.reveal {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: .8s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

#stage {
    height: 100vh;
    width: 100vw;
}

.screen {
    position: absolute;
    height: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: opacity .5s ease-in;
}

.show-screen {
    visibility: visible !important;
    opacity: 1 !important;
    height: 100% !important;
    z-index: 1 !important;
}

.page-content {
    display: flex;
    z-index: 1;
    overflow: hidden;
}

.page-content .image-container {
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.page-content .main-container {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .main-container {
        display: none;
    }
}

.page-content img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*START SCREEN*/

#start-screen {
    background-color: #000;
}

#start-screen .content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

#start-screen .play-button {
    font-size: 28px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(200, 0, 0);
    color: #fff;
    animation: shakeButtonAnimation 4s ease-out none infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#start-screen .play-button:hover {
    background-color: rgb(100, 0, 0);
}

#start-screen .play-button:active {
    background-color: #fff;
    color: #000;
}

@keyframes shakeButtonAnimation {
    0% {
        transform: rotate(0);
    }

    2% {
        transform: rotate(5deg);
    }

    4% {
        transform: rotate(0deg);
        background-color: rgb(201, 83, 37);
    }

    6% {
        transform: rotate(-5deg);
    }

    8% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(5deg);
    }

    12% {
        transform: rotate(0deg);
    }

    14% {
        transform: rotate(-5deg);
    }

    16% {
        transform: rotate(0);
        background-color: rgb(200, 0, 0);
    }

    100% {
        transform: rotate(0);
    }
}

#start-screen .title h1 {
    font-size: 48px;
    color: #fff;
    margin-top: 200px;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles div {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4vw;
}

.circles div:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles div:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles div:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles div:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles div:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles div:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles div:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles div:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles div:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles div:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*END SCREEN*/

#end-screen {
    background-color: #000;
}

#end-screen .content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: #fff;
}

#end-screen .exit-button {
    margin-top: 50px;
    font-size: 22px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(6, 96, 67);
    color: #fff;
}

#end-screen .exit-button:hover {
    background-color: #fff;
    color: #000;
}

#end-screen .play-button:active {
    background-color: #fff;
    color: #000;
}

#end-screen .title h1 {
    font-size: 48px;
    color: #fff;
    margin-top: 200px;
}